section.container{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    margin-top: 40px;
}

article{
    border: 2px solid #434443;
    width: 30%;
    height: 20vh;
    padding: 20px;
    justify-content: center;
    box-shadow: 4px 4px 4px #434443;

}

article .box-title{
    background-color: #434443;
    /* border: 2px solid #777a77; */
    padding: 10px;
    /* text-align: center; */
    text-transform: capitalize;
    text-align: center;
    color: #fff;
}

button.btn{
    width: 50%;
    height: 10vh;
    border: 2px solid rgb(0, 81, 255);
    background-color: rgb(67, 113, 238);
    margin-left: 25%;
    margin-top: 10%;
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;

}

.btn:hover{
    background-color: #25ee1e;
}

#resp1{
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 15%;
    margin-left: 40%;
    color: #fff;
}

ol{
    border: 2px dotted #434443;
    width: 50%;
    color: #fff;

}
ol h2{
    text-align: center;
    padding: 10px;
    background-color: #434443;
    color: #fff;
}
.box-lista{
    margin-top: 40px;
}