<section class="container">
    <article>
        <div class="box-title"><h3>{{Subtitulo1}}</h3></div>
        <div class="resp" id="resp1"><p></p></div>
    </article>
    <article>
        <div class="box-title"><h3>{{Subtitulo2}}</h3></div>
        <div class="resp">
            <button class="btn" (click)="vencedor()">Clique Aqui</button>
        </div>
    </article>
</section>

<section class="box-lista">
    <ol>
        <h2>{{Subtitulo3}}</h2>
    </ol>
</section>
