/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&display=swap');

*{
    margin: 0 auto;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;

    background-image: url("./assets/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Raleway;
}



