.box-title h2{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

main.container{
    width: 50%;
    /* height: 70vh; */
    padding: 14px;
    position: relative;
    max-width: 930px;

}

.row{
    padding: 8px;
    border-bottom: 1px solid #fff;

}

.col-md-1{
    /* border-left: 4px solid #1e44ee; */
    width: 5%;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 800;
    padding-left: 20px;
}

.col-md-11{
    color: #fff;
}
#lin1, #lin2, #lin3, #lin4{
    border-left: 4px solid #25ee1e;
}

#lin5, #lin6{
    border-left: 4px solid #1ed6ee;
}

#lin7, #lin8, #lin9, #lin10, #lin11, #lin12{
    border-left: 4px solid #0f641a;
}

#lin13, #lin14, #lin15, #lin16 {
    border-left: 4px solid #a4a8a8;
}

#lin17, #lin18, #lin19, #lin20 {
    border-left: 4px solid #fc0c0c;
}

section.container{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    margin-top: 40px;
}

article{
    border: 2px solid #434443;
    width: 30%;
    height: 35vh;
    padding: 20px;
    justify-content: center;
    box-shadow: 4px 4px 4px #434443;

}
