<main class="container">
    <div class="box-title">
        <h2>tabela</h2>
    </div>

    <div class="row">
        <div class="col-md-1">1</div>
        <div class="col-md-11" id="lin1"></div>
    </div>

    <div class="row">
        <div class="col-md-1">2</div>
        <div class="col-md-11" id="lin2"></div>
    </div>

    <div class="row">
        <div class="col-md-1">3</div>
        <div class="col-md-11" id="lin3"></div>
    </div>

    <div class="row">
        <div class="col-md-1">4</div>
        <div class="col-md-11" id="lin4"></div>
    </div>
    
    <div class="row">
        <div class="col-md-1">5</div>
        <div class="col-md-11" id="lin5"></div>
    </div>

    <div class="row">
        <div class="col-md-1">6</div>
        <div class="col-md-11" id="lin6"></div>
    </div>

    <div class="row">
        <div class="col-md-1">7</div>
        <div class="col-md-11" id="lin7"></div>
    </div>

    <div class="row">
        <div class="col-md-1">8</div>
        <div class="col-md-11" id="lin8"></div>
    </div>

    <div class="row">
        <div class="col-md-1">9</div>
        <div class="col-md-11" id="lin9"></div>
    </div>

    <div class="row">
        <div class="col-md-1">10</div>
        <div class="col-md-11" id="lin10"></div>
    </div>

    <div class="row">
        <div class="col-md-1">11</div>
        <div class="col-md-11" id="lin11"></div>
    </div>
   
    <div class="row">
        <div class="col-md-1">12</div>
        <div class="col-md-11" id="lin12"></div>
    </div>

    <div class="row">
        <div class="col-md-1">13</div>
        <div class="col-md-11" id="lin13"></div>
    </div>

    <div class="row">
        <div class="col-md-1">14</div>
        <div class="col-md-11" id="lin14"></div>
    </div>

    <div class="row">
        <div class="col-md-1">15</div>
        <div class="col-md-11" id="lin15"></div>
    </div>

    <div class="row">
        <div class="col-md-1">16</div>
        <div class="col-md-11" id="lin16"></div>
    </div>

    <div class="row">
        <div class="col-md-1">17</div>
        <div class="col-md-11" id="lin17"></div>
    </div>

    <div class="row">
        <div class="col-md-1">18</div>
        <div class="col-md-11" id="lin18"></div>
    </div>

    <div class="row">
        <div class="col-md-1">19</div>
        <div class="col-md-11" id="lin19"></div>
    </div>

    <div class="row">
        <div class="col-md-1">20</div>
        <div class="col-md-11" id="lin20"></div>
    </div>

</main>