
.header-container{
    /* border: 2px solid rgb(0, 38, 255); */
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #06AA48;
    text-transform: capitalize;
   
}

.h1-title{
    color: #fff;
    font-weight: 300;
    font-weight: 600;
}